input {
  padding: 4px;
}

li {
  list-style-type: none;
}

button {
  color: brown;
  background-color: aquamarine;
}

body {
  background: rgb(247, 248, 248);
  background: linear-gradient(
    90deg,
    rgba(247, 248, 248, 1) 0%,
    rgba(172, 187, 120, 1) 100%
  );
}

.result {
  font-size: 100px;
  color: rgb(35, 238, 8);
}

.top-table {
  margin-bottom: 16px;
}

.middle-table {
  margin-bottom: 16px;
}

.btn {
  margin-top: 10px;
}
