input {
    padding: 20px;
}

button {
    color: brown;
    background-color: aquamarine;
}

.topick {
    
}

body {
    background-image: url(/image/avaGit.jpg);
    background-attachment: scroll;
}
